<html>
<head>
  <title>WELCOME</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <style>
  .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
   
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: white;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
  
  </style>


  </head>
  
<body>
<div class="container">
    <h1><b><%=user.name%></b></h1><hr >
    <div class="row">
      <div class="col-md-4" style="padding-top:20px; padding-left:20px;">
      
        
        <form action="/profilePic" method="post" enctype="multipart/form-data">
          <label class="custom-file-upload">
              
              <input type="file" name="profilePic" id="file" class="inputfile" required/>
              <label for="file"> <%if(user.image){%> <img src=<%= "/profileUploads/"+user.image %> class="img-circle" style="height:150px; width :150px"><%}else{%>
                <img src="/user.jpg" class="img-circle" style="height:150px ; width: 150px" > <%}%></label>
             
          </label>
          
          <hr/>
      
          <input type="submit" class="btn btn-primary" value="Upload">
</form>
<hr/>
<button type="button" class="btn btn-primary"><a href="/logout" style="text-decoration:none ; color:white">Logout</a></button>
    </div>
    <div class="col-md-8">
      <div class="alert alert-danger">
  Message your username and password to 9729018415 in Case you forgot . He Will Keep it safe .
      </div>
      <h3><b>Personal Info</b></h3><hr>
      
      <div class="form-group">
        <label for="usr">Name : <%=user.name%></label>
       <p style="display:inline ; float: right">  <button type="button" class="btn btn-primary" onclick="update('name',id)" id=<%=user.name%> >Edit</button></p>
        <hr/>
      </div>
      <div class="form-group">
        <label for="usr">Email : <%=user.email%></label>
        <p style="display:inline ; float: right"><button type="button" class="btn btn-primary" onclick="update('email',id)" id=<%=user.email%>>Edit</button></p>
        <hr/>
      </div>
      
      <div class="form-group">
        <label for="usr">Contact Number : <%=user.mobile%></label>
        <p style="display:inline ; float: right"><button type="button" class="btn btn-primary" onclick="update('mobile',id)" id=<%=user.mobile%>>Edit</button></p>
        <hr/>
      </div>
      <div class="form-group">
        <label for="usr">DATE Of Birth : <%=user.dob%></label>
        <p style="display:inline ; float: right"><button type="button" class="btn btn-primary" onclick="update('dob',id)" id=<%=user.dob%>>Edit</button></p>
        <hr/>
      </div>
     

      <label for="usr">Gender : <%=user.gender%></label>
      <p style="display:inline ; float: right"><button type="button" class="btn btn-primary" onclick="update('gender',id)" id=<%=user.gender%>>Edit</button></p>
      
     

    </div>
    </div>
    <div class="row">
<div class="col-md-12" >
<br><br><br>
      </div>



</div>
<script>

function update (data,id)
{
  console.log(data);
  var person = prompt("Please Enter "+data, id);

if (person == null || person == "")
{
  
}
else
{
  $.ajax(
    {
      type : "GET",
      url : "/profile/show/edit",
      data : {data : data, value : person},
      success : (data)=>
      {
        
         // if true (1)
      
   
      }
    }
  )
  setTimeout(function(){// wait for 5 secs(2)
           location.reload(); // then reload the page.(3)
      }, 5000); 
  
} 

}

// function reloadPage()
// {
//   window.location.reload();
// }

</script>
</body>
</html>
